@media screen and (max-width: 1400px) {
  .works {
    padding: 8vh 0 7vh 0;
  }
  .works .container_works .bg_img_top_works .img_1_bg_left_top_part_works {
    width: 40%;
  }
  .works .container_works .container .content_works .top_part_works .left_top_part_works .img_1_left_top_part_works {
    width: 40%;
    left: 80px;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works {
    width: 53%;
    margin-top: 0;
    padding-right: 80px;
    padding-left: 50px;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works h2 {
    font-size: 2.5rem;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works .btn_works {
    margin-bottom: 30px;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works {
    width: 53%;
    margin-top: 0;
    padding-right: 50px;
    padding-left: 80px;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works h2 {
    font-size: 2.5rem;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .btn_works {
    margin-bottom: 30px;
  }
  .works .container_works .container .content_works .bottom_part_works .right_bottom_part_works .img_2_bg_right_bottom_part_works {
    width: 40%;
    right: 80px;
  }
  .works .container_works .bg_img_bottom_works .img_2_bg_right_bottom_part_works {
    top: -370px;
    width: 40%;
  }
}
@media screen and (max-width: 1195px) {
  header #main_menu .container .logo {
    width: 30%;
  }
  header #main_menu .container #header_menu ul li + li {
    margin-left: 30px;
  }
  header #main_menu .container #header_menu ul a::before {
    left: -15px;
  }
  header #main_menu .container .header-footer_icons .header-footer_icons_list .header-footer_icons_item {
    margin-left: 4px;
    margin-right: 4px;
  }

  .works {
    padding: 8vh 0 5vh 0;
  }
  .works .container_works {
    width: 100%;
  }
  .works .container_works .bg_img_top_works {
    display: none;
  }
  .works .container_works .container .content_works .top_part_works .left_top_part_works .img_1_left_top_part_works {
    width: 42%;
    top: 250px;
  }
  .works .container_works .container .content_works .top_part_works .left_top_part_works .img_1_left_top_part_works img {
    box-shadow: -20px -20px #55B7FF;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works {
    width: 53%;
    margin-top: 0;
    padding-right: 10px;
    padding-left: 70px;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works .first_p_works {
    font-size: 1.125rem;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works h2 {
    font-size: 1.875rem;
    margin-bottom: 10px;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works .btn_works {
    margin-bottom: 20px;
    width: 140px;
    height: 40px;
  }
  .works .container_works .container .content_works .bottom_part_works {
    align-items: center;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works {
    width: 53%;
    padding-right: 70px;
    padding-left: 50px;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .first_p_works {
    font-size: 1.125rem;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works h2 {
    font-size: 1.875rem;
    margin-bottom: 10px;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .btn_works {
    margin-bottom: 20px;
    width: 140px;
    height: 40px;
  }
  .works .container_works .container .content_works .bottom_part_works .right_bottom_part_works .img_2_bg_right_bottom_part_works {
    width: 42%;
    bottom: 0;
  }
  .works .container_works .container .content_works .bottom_part_works .right_bottom_part_works .img_2_bg_right_bottom_part_works img {
    box-shadow: 20px -20px #7E5AFF;
  }
  .works .container_works .bg_img_bottom_works {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .first_part #header_slider h2 {
    width: 80%;
    line-height: 70px;
    font-size: 4.0625rem;
  }
}
@media screen and (max-width: 1000px) {
  header #main_menu .container .logo {
    width: 25%;
  }
  header #main_menu .container #header_menu ul li + li {
    margin-left: 30px;
  }
  header #main_menu .container #header_menu ul a::before {
    left: -10px;
  }
  header #main_menu .container .header-footer_icons .header-footer_icons_list .header-footer_icons_item {
    margin-left: 4px;
    margin-right: 4px;
  }

  .works {
    padding: 8vh 0 5vh 0;
  }
  .works .container_works {
    width: 100%;
  }
  .works .container_works .bg_img_top_works {
    display: none;
  }
  .works .container_works .container {
    position: static;
  }
  .works .container_works .container .content_works .text_works {
    margin-bottom: 50px;
  }
  .works .container_works .container .content_works .top_part_works {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .works .container_works .container .content_works .top_part_works .left_top_part_works {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .works .container_works .container .content_works .top_part_works .left_top_part_works .img_1_left_top_part_works {
    width: 90%;
    position: static;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works {
    width: 90%;
    justify-content: start;
    align-items: flex-start;
    padding: 0 0;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works .first_p_works {
    font-size: 1.125rem;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works h2 {
    font-size: 1.875rem;
    margin-bottom: 10px;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works .btn_works {
    margin-bottom: 20px;
    width: 140px;
    height: 40px;
  }
  .works .container_works .container .content_works .bottom_part_works {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works {
    width: 90%;
    justify-content: start;
    align-items: flex-start;
    padding: 0 0;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .first_p_works {
    font-size: 1.125rem;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works h2 {
    font-size: 1.875rem;
    margin-bottom: 10px;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .btn_works {
    margin-bottom: 20px;
    width: 140px;
    height: 40px;
  }
  .works .container_works .container .content_works .bottom_part_works .right_bottom_part_works {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .works .container_works .container .content_works .bottom_part_works .right_bottom_part_works .img_2_bg_right_bottom_part_works {
    width: 90%;
    position: static;
  }
  .works .container_works .container .content_works .bottom_part_works .right_bottom_part_works .img_2_bg_right_bottom_part_works img {
    box-shadow: 20px -20px #7E5AFF;
  }
  .works .container_works .bg_img_bottom_works {
    display: none;
  }

  .gallery {
    padding: 5vh 0;
  }
  .gallery .container #animated-thumbnails-gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 900px) {
  footer {
    height: 400px;
  }
}
@media screen and (max-width: 850px) {
  footer .footer_container .footer_form {
    width: 90%;
    height: 530px;
  }
  footer .footer_container .footer_form h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  footer .footer_container .footer_form .footer_form_info {
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  footer .footer_container .footer_form .footer_form_info .footer_form_contacts {
    margin-bottom: 30px;
  }
  footer .footer_container .footer_form .footer_form_info .footer_form_submit {
    align-self: center;
    width: 100%;
  }
  footer .footer_container .footer_form .footer_form_info .footer_form_submit .form_btn {
    align-self: center;
    display: flex;
    justify-content: center;
  }
  footer .footer_container .footer_end {
    width: 90%;
    margin-top: 80px;
  }
}
@media screen and (max-width: 800px) {
  .first_part #header_slider .card1 h2 {
    width: 80%;
    line-height: 70px;
    margin-bottom: 30px;
  }
  .first_part #header_slider .card1 p {
    width: 70%;
  }
  .first_part .slick-dots {
    right: 25px;
  }
  .first_part .slick-dots li {
    margin: 23px 0;
    top: 10%;
  }

  header #main_menu .container .logo {
    width: 40%;
  }
  header #main_menu .container #header_menu ul li + li {
    margin-left: 30px;
  }
  header #main_menu .container #header_menu ul a::before {
    left: -10px;
  }
  header #main_menu .container .header-footer_icons .header-footer_icons_list .header-footer_icons_item {
    margin-left: 4px;
    margin-right: 4px;
  }

  #header_menu {
    display: none;
  }

  #hamburger_menu {
    display: block;
  }

  .gallery {
    padding: 5vh 0;
  }
  .gallery .container #animated-thumbnails-gallery {
    width: 90%;
    gap: 15;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 650px) {
  .footer_end {
    width: 90%;
    margin-top: 80px;
  }
  .footer_end .footer_logo_icons .footer_logo {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .first_part #header_slider .card1 h2 {
    width: 70%;
    line-height: 50px;
    margin-bottom: 20px;
    font-size: 2.8125rem;
    letter-spacing: 2px;
  }
  .first_part #header_slider .card1 p {
    width: 60%;
    font-size: 1rem;
    letter-spacing: 4px;
  }
  .first_part #header_slider h2 {
    width: 70%;
    line-height: 50px;
    margin-bottom: 20px;
    font-size: 2.8125rem;
    letter-spacing: 2px;
  }
  .first_part #header_slider p {
    width: 70%;
    font-size: 1rem;
    letter-spacing: 4px;
  }
}
@media screen and (max-width: 500px) {
  header #main_menu .container .logo {
    width: 60%;
  }
  header #main_menu .container #header_menu ul li + li {
    margin-left: 30px;
  }
  header #main_menu .container #header_menu ul a::before {
    left: -10px;
  }
  header #main_menu .container .header-footer_icons .header-footer_icons_list .header-footer_icons_item {
    display: none;
  }

  .works {
    padding: 8vh 0 5vh 0;
  }
  .works .container_works {
    width: 100%;
  }
  .works .container_works .bg_img_top_works {
    display: none;
  }
  .works .container_works .container {
    position: static;
  }
  .works .container_works .container .content_works .text_works {
    margin-bottom: 30px;
  }
  .works .container_works .container .content_works .text_works h2 {
    font-size: 2.5rem;
  }
  .works .container_works .container .content_works .top_part_works {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .works .container_works .container .content_works .top_part_works .left_top_part_works {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .works .container_works .container .content_works .top_part_works .left_top_part_works .img_1_left_top_part_works {
    width: 80%;
    position: static;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works {
    width: 90%;
    justify-content: start;
    align-items: flex-start;
    padding: 0 0;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works .first_p_works {
    font-size: 1.125rem;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works h2 {
    font-size: 1.875rem;
    margin-bottom: 10px;
  }
  .works .container_works .container .content_works .top_part_works .right_top_part_works .btn_works {
    margin-bottom: 20px;
    width: 140px;
    height: 40px;
  }
  .works .container_works .container .content_works .bottom_part_works {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works {
    width: 90%;
    justify-content: start;
    align-items: flex-start;
    padding: 0 0;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .first_p_works {
    font-size: 1.125rem;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works h2 {
    font-size: 1.875rem;
    margin-bottom: 10px;
  }
  .works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .btn_works {
    margin-bottom: 20px;
    width: 140px;
    height: 40px;
  }
  .works .container_works .container .content_works .bottom_part_works .right_bottom_part_works {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .works .container_works .container .content_works .bottom_part_works .right_bottom_part_works .img_2_bg_right_bottom_part_works {
    width: 80%;
    position: static;
  }
  .works .container_works .container .content_works .bottom_part_works .right_bottom_part_works .img_2_bg_right_bottom_part_works img {
    box-shadow: 20px -20px #7E5AFF;
  }
  .works .container_works .bg_img_bottom_works {
    display: none;
  }

  .gallery {
    padding: 2vh 0;
  }
  .gallery .container .gallery_text {
    margin-bottom: 40px;
  }
  .gallery .container .gallery_text h2 {
    font-size: 2.5rem;
  }
  .gallery .container #animated-thumbnails-gallery {
    width: 90%;
    gap: 15;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .gallery .container .btn {
    width: 140px;
    height: 40px;
  }

  .footer_end {
    width: 90%;
    margin-top: 80px;
  }
  .footer_end .footer_logo_icons {
    flex-direction: column;
  }
  .footer_end .footer_logo_icons .footer_logo {
    align-self: flex-start;
    width: 65%;
    margin-bottom: 20px;
  }
  .footer_end .footer_logo_icons .header_footer_icons {
    align-self: flex-end;
  }
}
@media screen and (max-width: 450px) {
  footer .footer_container {
    width: 100%;
  }
  footer .footer_container .footer_form {
    width: 100%;
    height: 530px;
  }
  footer .footer_container .footer_form h2 {
    font-size: 1.875rem;
    margin-bottom: 30px;
  }
  footer .footer_container .footer_form .footer_form_info {
    width: 90%;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  footer .footer_container .footer_form .footer_form_info .footer_form_contacts {
    margin-bottom: 30px;
  }
  footer .footer_container .footer_form .footer_form_info .footer_form_submit {
    align-self: center;
    width: 90%;
  }
  footer .footer_container .footer_form .footer_form_info .footer_form_submit .form_btn {
    align-self: center;
    display: flex;
    justify-content: center;
  }
  footer .footer_container .footer_form .footer_form_info .footer_form_submit .form_btn .footer_btn {
    width: 140px;
    height: 40px;
  }
}