/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
* Slider
*/
.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", "Open Sans", "Montserrat", sans-serif;
  font-size: 1rem;
  min-width: 350px;
}

img {
  vertical-align: top;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

/*mobile menu*/
#page_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  backdrop-filter: blur(2px);
}

#mobile_menu_wrap {
  position: fixed;
  top: 0;
  left: -500px;
  background-color: #55B7FF;
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 10px #000;
  max-width: 400px;
  transition: all 0.4s ease;
  z-index: 1000;
}
#mobile_menu_wrap.top {
  max-width: 100%;
  height: auto;
  min-height: 200px;
}

#sidemenu_top {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#sidemenu_top .mobile_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#sidemenu_top .mobile_logo a img {
  width: 100%;
  height: 50%;
}

.sidemenu li {
  width: 100%;
}
.sidemenu li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  width: 100%;
  color: #fff;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.sidemenu li a:after {
  content: "";
  width: 0%;
  position: absolute;
  background-color: #fff;
  opacity: 0.4;
  height: 100%;
  bottom: 0px;
  left: 0;
  transition: all 0.3s ease;
}
.sidemenu li a:hover {
  text-decoration: none;
}
.sidemenu li a:hover:after {
  width: 100%;
}
.sidemenu li a:active {
  opacity: 0.5;
}

.open #page_overlay {
  display: block;
}
.open #mobile_menu_wrap {
  left: 0;
}

#main_menu {
  background-color: rgba(93, 48, 253, 0);
  position: fixed;
  width: 100%;
  height: 150px;
  left: 0;
  top: 0;
  transition: all 0.2s ease;
  z-index: 200;
}
#main_menu.scrolled {
  transition: all 0.2s ease;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  z-index: 100000;
  background-color: rgba(93, 48, 253, 0.5);
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(80px);
}
#main_menu .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main_menu .container #header_menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#main_menu .container #header_menu ul li {
  position: relative;
}
#main_menu .container #header_menu ul li + li {
  margin-left: 90px;
}
#main_menu .container #header_menu ul a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
}
#main_menu .container #header_menu ul a::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 5.5px;
  left: -30px;
}
#main_menu .container #header_menu ul a:hover::before {
  background-color: #fff;
}
#main_menu .container .header-footer_icons {
  display: flex;
  justify-content: space-between;
}
#main_menu .container .header-footer_icons .header-footer_icons_list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main_menu .container .header-footer_icons .header-footer_icons_list .header-footer_icons_item {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
}
#main_menu .container .header-footer_icons .header-footer_icons_list .header-footer_icons_item a svg {
  width: 20px;
  height: 20px;
}
#main_menu .container .header-footer_icons .header-footer_icons_list .header-footer_icons_item:hover {
  transform: scale(1.1);
  border: 2px solid #fff;
}
#main_menu .container .header-footer_icons .image_link {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
#main_menu .container .header-footer_icons .image_link svg {
  width: 15px;
  height: 15px;
}

#hamburger_menu {
  display: none;
}
#hamburger_menu a {
  display: inline-block;
  width: 40px;
  height: 40px;
}
#hamburger_menu a svg {
  width: 40px;
  height: 40px;
}

.first_part #header_slider {
  z-index: 2;
  position: relative;
  overflow: hidden;
}
.first_part #header_slider .slider_card {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.first_part #header_slider .card1 {
  background: linear-gradient(45deg, rgba(85, 183, 255, 0.9) 0%, rgba(126, 90, 255, 0.9) 70%), url(../images/header_bg.png) center/cover no-repeat;
}
.first_part #header_slider .card2 {
  background: linear-gradient(45deg, rgba(85, 183, 255, 0.9) 0%, rgba(126, 90, 255, 0.9) 70%), url(../images/header_bg2.png) center/cover no-repeat;
}
.first_part #header_slider .card3 {
  background: linear-gradient(45deg, rgba(85, 183, 255, 0.9) 0%, rgba(126, 90, 255, 0.9) 70%), url(../images/header_bg3.png) center/cover no-repeat;
}
.first_part #header_slider .card4 {
  background: linear-gradient(45deg, rgba(85, 183, 255, 0.9) 0%, rgba(126, 90, 255, 0.9) 70%), url(../images/header_bg4.png) center/cover no-repeat;
}
.first_part #header_slider .card5 {
  background: linear-gradient(45deg, rgba(85, 183, 255, 0.9) 0%, rgba(126, 90, 255, 0.9) 70%), url(../images/header_bg5.png) center/cover no-repeat;
}
.first_part #header_slider h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 9px;
  line-height: 130px;
}
.first_part #header_slider p {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 7px;
}
.first_part .slick-dots {
  position: absolute;
  top: 50%;
  right: 55px;
  transform: translate(-50%, -50%);
  width: 5px;
}
.first_part .slick-dots li {
  list-style: none;
  margin: 33px 0;
}
.first_part .slick-dots li.slick-active button {
  background-color: white;
  border: 1px solid white;
}
.first_part .slick-dots button {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}
.first_part .scroll_first_part {
  position: absolute;
  top: 700px;
  margin-right: calc((100% - 40px)/2);
  margin-left: calc((100% - 40px)/2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.first_part .scroll_first_part:hover {
  border: 5px solid #fff;
  cursor: pointer;
}
.first_part .scroll_first_part:hover .arrow_first_part {
  border: solid #fff;
  border-width: 0 5px 5px 0;
}
.first_part .scroll_first_part .arrow_first_part {
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.works {
  padding: 10vh 0 5vh 0;
}
.works .container_works {
  width: 90%;
  max-width: 1685px;
  margin: 0 auto;
  position: relative;
}
.works .container_works .bg_img_top_works {
  position: relative;
  top: 180px;
}
.works .container_works .bg_img_top_works .img_1_bg_left_top_part_works {
  position: absolute;
  z-index: 2;
  left: 0;
}
.works .container_works .container {
  width: 100%;
  position: relative;
}
.works .container_works .container .content_works {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.works .container_works .container .content_works .text_works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;
}
.works .container_works .container .content_works .text_works .works_line {
  border: 1px solid #2C4058;
  width: 90px;
}
.works .container_works .container .content_works .text_works h2 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 2.75rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120px;
}
.works .container_works .container .content_works .top_part_works {
  display: flex;
  justify-content: space-between;
  margin-bottom: 230px;
}
.works .container_works .container .content_works .top_part_works .left_top_part_works .img_1_left_top_part_works {
  position: absolute;
  left: 0;
  z-index: 3;
}
.works .container_works .container .content_works .top_part_works .right_top_part_works {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  margin-top: 90px;
}
.works .container_works .container .content_works .top_part_works .right_top_part_works .first_p_works {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.375rem;
  color: #2C4058;
  text-align: left;
}
.works .container_works .container .content_works .top_part_works .right_top_part_works h2 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 2.75rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
  font-size: 2.625rem;
}
.works .container_works .container .content_works .top_part_works .right_top_part_works .second_p_works {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 30px;
  margin-bottom: 30px;
  color: #2C4058;
  text-align: left;
}
.works .container_works .container .content_works .top_part_works .right_top_part_works .btn_works {
  background-color: #fff;
  width: 190px;
  height: 50px;
  border: 1px solid black;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 60px;
}
.works .container_works .container .content_works .top_part_works .right_top_part_works .btn_works:hover {
  transform: scale(1.05);
  transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
  box-shadow: 0 0 40px 40px #55B7FF inset;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
}
.works .container_works .container .content_works .top_part_works .right_top_part_works .location {
  display: flex;
  align-items: center;
}
.works .container_works .container .content_works .top_part_works .right_top_part_works .location svg {
  width: 15px;
  height: 15px;
}
.works .container_works .container .content_works .top_part_works .right_top_part_works .location .third_p_works {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  margin-left: 10px;
  text-align: left;
}
.works .container_works .container .content_works .bottom_part_works {
  display: flex;
  justify-content: space-between;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  margin-top: 90px;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .first_p_works {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.375rem;
  color: #2C4058;
  text-align: left;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works h2 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 2.75rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
  font-size: 2.625rem;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .second_p_works {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 30px;
  margin-bottom: 30px;
  color: #2C4058;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .btn_works {
  background-color: #fff;
  width: 190px;
  height: 50px;
  border: 1px solid black;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 60px;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .btn_works:hover {
  transform: scale(1.05);
  transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
  box-shadow: 0 0 40px 40px #55B7FF inset;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .btn_works:hover {
  box-shadow: 0 0 40px 40px #7E5AFF inset;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .location {
  display: flex;
  align-items: center;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .location svg {
  width: 15px;
  height: 15px;
}
.works .container_works .container .content_works .bottom_part_works .left_bottom_part_works .location .third_p_works {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  margin-left: 10px;
  text-align: left;
}
.works .container_works .container .content_works .bottom_part_works .right_bottom_part_works .img_2_bg_right_bottom_part_works {
  position: absolute;
  right: 0;
  z-index: 3;
}
.works .container_works .bg_img_bottom_works {
  position: relative;
}
.works .container_works .bg_img_bottom_works .img_2_bg_right_bottom_part_works {
  position: absolute;
  z-index: 2;
  right: 0;
  top: -500px;
}
#news {
  padding: 14vh 0 22vh 0;
  background-image: url(../images/bg_news.png);
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#news .container .text_news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#news .container .text_news .news_line {
  border: 1px solid #fff;
  width: 90px;
}
#news .container .text_news h2 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 2.75rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120px;
}
#news .container .news_slider {
  height: 514px;
  width: 100%;
  position: relative;
}
#news .container .slider_box {
  color: #2c4058;
  background-color: white;
  height: 514px;
  width: 100%;
  max-width: 370px;
  padding-bottom: 30px;
  min-width: 0;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
}
#news .container .slider_box img {
  width: 100%;
}
#news .container .slider_box .text_card_news {
  padding-right: 10px;
  padding-left: 20px;
}
#news .container .slider_box .text_card_news h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  color: #2C4058;
  margin-bottom: 10px;
}
#news .container .slider_box .text_card_news p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #2C4058;
  line-height: 25px;
}
#news .container .slider_box .signature {
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  bottom: 30px;
}
#news .container .slider_box .signature .signature_logo {
  width: 60px;
  height: 60px;
}
#news .container .slider_box .signature .logo1 {
  background: url(../images/img_1_author_news.png) center/cover no-repeat;
  border-radius: 50%;
}
#news .container .slider_box .signature .logo2 {
  background: url(../images/img_2_author_news.png) center/cover no-repeat;
  border-radius: 50%;
}
#news .container .slider_box .signature .logo3 {
  background: url(../images/img_3_author_news.png) center/cover no-repeat;
  border-radius: 50%;
}
#news .container .slider_box .signature .text_author_news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}
#news .container .slider_box .signature .text_author_news .name_author_news {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  color: #2C4058;
}
#news .container .slider_box .signature .text_author_news .data_card_news {
  color: #55B7FF;
  font-weight: 400;
  font-size: 0.875rem;
}
#news .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 0;
  font-size: 0;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
}
#news .slick-arrow:hover {
  border-width: 2px;
}
#news .slick-arrow.slick-prev {
  left: -100px;
}
#news .slick-arrow.slick-next {
  right: -100px;
}
#news .slick-dots {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 205px;
  text-align: center;
}
#news .slick-dots li {
  list-style: none;
}
#news .slick-dots li.slick-active button {
  background-color: white;
}
#news .slick-dots button {
  font-size: 0;
  width: 9px;
  height: 9px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}

.gallery {
  padding: 10vh 0;
}
.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .container .gallery_line {
  border: 1px solid #2C4058;
  width: 90px;
  margin-bottom: 30px;
}
.gallery .container .gallery_text {
  text-align: center;
  margin-bottom: 90px;
}
.gallery .container .gallery_text h2 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 2.75rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery .container #animated-thumbnails-gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 60px;
}
.gallery .container #animated-thumbnails-gallery :first-child {
  grid-area: span 2/span 1;
}
.gallery .container #animated-thumbnails-gallery .gallery_pic {
  position: relative;
}
.gallery .container #animated-thumbnails-gallery .gallery_pic:hover::before {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: -26px 0 0 -26px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: url(../images/svg/plus-svgrepo-com.svg) 0 0 no-repeat;
}
.gallery .container #animated-thumbnails-gallery .gallery_pic:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000000, transparent);
  top: 0;
  left: 0;
}
.gallery .container #animated-thumbnails-gallery .gallery_pic img {
  height: 100%;
}
.gallery .container .btn {
  background-color: #fff;
  width: 190px;
  height: 50px;
  border: 1px solid black;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.gallery .container .btn:hover {
  transform: scale(1.05);
  transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
  box-shadow: 0 0 40px 40px #55B7FF inset;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
}

.map {
  z-index: 0;
}
.map #my_map {
  height: 850px;
  position: relative;
}
.map #my_map img {
  height: 100%;
  object-fit: cover;
}
.map #my_map p {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2C4058;
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  opacity: 0;
  transition: all 0.3s ease;
  font-family: "Montserrat";
}
.map #my_map p:hover {
  opacity: 0.5;
}
.map .map_popup {
  display: flex;
  width: 50%;
}
.map .map_popup img {
  width: 100px;
  height: 80px;
}
.map .map_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map .map_info p {
  width: 80px;
  text-align: center;
}
.map .map_info b {
  width: 80px;
  text-align: center;
}
.map .leaflet-popup-content-wrapper {
  width: 200px;
}

footer {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10vh 0;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer_container {
  width: 90%;
  max-width: 770px;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer_container .footer_form {
  z-index: 1000;
  width: 770px;
  height: 450px;
  background-color: #fff;
  background: url(../images/footer_bg_form.png), white;
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -500px;
}
footer .footer_container .footer_form h2 {
  color: #2C4058;
  font-family: "Montserrat";
  font-size: 2.75rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}
footer .footer_container .footer_form .footer_line {
  border: 1px solid #2C4058;
  width: 90px;
  margin-top: 50px;
  margin-bottom: 30px;
}
footer .footer_container .footer_form .footer_form_info {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 400;
  width: 85%;
  height: 45%;
}
footer .footer_container .footer_form .footer_form_info .footer_form_contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.375rem;
  line-height: 26px;
  font-weight: 400;
}
footer .footer_container .footer_form .footer_form_info .footer_form_contacts ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_container .footer_form .footer_form_info .footer_form_contacts ul li {
  list-style: none;
}
footer .footer_container .footer_form .footer_form_info .footer_form_contacts ul li .our_contacts {
  text-decoration: none;
  color: #000;
}
footer .footer_container .footer_form .footer_form_info .footer_form_contacts ul li .our_contacts svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
footer .footer_container .footer_form .footer_form_info .footer_form_submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
footer .footer_container .footer_form .footer_form_info .footer_form_submit .footer_contact {
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
footer .footer_container .footer_form .footer_form_info .footer_form_submit .footer_contact .footer_contact_item {
  width: 310px;
  height: 41px;
  margin-bottom: 30px;
}
footer .footer_container .footer_form .footer_form_info .footer_form_submit .footer_contact .footer_contact_item .contact_item_text {
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  border: transparent;
  border-bottom: 1px solid #2C4058;
  opacity: 0.6;
}
footer .footer_container .footer_form .footer_form_info .footer_form_submit .footer_contact .footer_contact_item .contact_item_text:focus {
  outline: none;
  border-bottom: 1px solid #2C4058;
  opacity: 1;
}
footer .footer_container .footer_form .footer_form_info .footer_form_submit .form_btn .footer_btn {
  background-color: #fff;
  width: 190px;
  height: 50px;
  border: 1px solid black;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  width: 140px;
  height: 50px;
  font-size: 1.125rem;
  margin-left: 170px;
  background-color: transparent;
}
footer .footer_container .footer_form .footer_form_info .footer_form_submit .form_btn .footer_btn:hover {
  transform: scale(1.05);
  transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
  box-shadow: 0 0 40px 40px #55B7FF inset;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
}
footer .footer_container .footer_form .footer_form_info .footer_form_submit .form_btn .footer_btn:hover {
  box-shadow: 0 0 40px 40px #7E5AFF inset;
}

.footer_end {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer_end .footer_logo_icons {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.footer_end .footer_logo_icons .footer_logo {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_end .footer_logo_icons .footer_logo img {
  width: 100%;
}
.footer_end .footer_logo_icons .footer_empty {
  width: 33.33%;
}
.footer_end .footer_logo_icons .header_footer_icons {
  width: 33.33%;
  display: flex;
  justify-content: end;
}
.footer_end .footer_logo_icons .header_footer_icons .header_footer_icons_list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_end .footer_logo_icons .header_footer_icons .header_footer_icons_list .header_footer_icons_item {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
}
.footer_end .footer_logo_icons .header_footer_icons .header_footer_icons_list .header_footer_icons_item a svg {
  width: 20px;
  height: 20px;
}
.footer_end .footer_logo_icons .header_footer_icons .header_footer_icons_list .header_footer_icons_item:hover {
  transform: scale(1.1);
  border: 2px solid #fff;
}
.footer_end .footer_copy {
  align-self: start;
}
.footer_end .footer_copy p {
  color: #fff;
}