* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'HansKendrick Regular';
    font-size: 22px;
    text-transform: uppercase;
    background-color: #e2e7ec;
    margin: 40px 0;
}

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

.block_content {
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.main_content {
    position: relative;
    grid-column-start: span 2;
}

.main_content_img {
    width: 100%;
}

.main_content_text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 70%;
}

.red_car_img  {
    width: 100%;
}

.red_car_img::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000000, transparent);
    top: 0;
    left: 0;
}

.main_content_text span {
    display: inline-block;
    font-size: 13px;
    opacity: .8;
    color: #fff;
    margin-bottom: 10px;
}

.main_content_text p {
    font-size: 30px;
    color: #fff;
}

.secondary_content {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.secondary_content_text {
    width: 90%;
    margin-top: 18px;
    margin-left: 20px;
}

.secondary_content_text span {
    display: inline-block;
    font-size: 13px;
    opacity: .7;
    padding-bottom: 15px;
}

.secondary_content_text p {
    font-size: 22px;
    font-weight: 900;
    
}

.secondary_content_icon {
    position: absolute;
    width: 17%;
    bottom: 22px;
    left: 25px;
}

.loader {
    color: rgb(133, 133, 133);
    font-size: 12px;
    display: flex;
    justify-content: center;
    right: 150px;
    padding: 30px 0;;
}

.loader img {
    width: 30px;
    height: 30px;
    margin-right: 10px;    
}

.loader p {
    line-height: 25px;
}

@font-face {
    font-family: 'HansKendrick Regular';  
    src: url(../fonts/HansKendrick-Regular.woff) format("woff");
    src: url(../fonts/HansKendrick-Regular.woff2) format("woff2");
    font-style: normal; 
    font-weight: normal;
}