@import "hamburger";

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo-bold-webfont.woff2');
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo-light-webfont.woff2');
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo-regular-webfont.woff2');
}

/* josefin-sans-200 - latin-ext_latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/josefin-sans-v20-latin-ext_latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/josefin-sans-v20-latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/josefin-sans-v20-latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/josefin-sans-v20-latin-ext_latin-200.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  /* josefin-sans-300 - latin-ext_latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/josefin-sans-v20-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/josefin-sans-v20-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/josefin-sans-v20-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/josefin-sans-v20-latin-ext_latin-300.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  /* josefin-sans-regular - latin-ext_latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v20-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/josefin-sans-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/josefin-sans-v20-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/josefin-sans-v20-latin-ext_latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  /* josefin-sans-500 - latin-ext_latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/josefin-sans-v20-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/josefin-sans-v20-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/josefin-sans-v20-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/josefin-sans-v20-latin-ext_latin-500.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  /* josefin-sans-600 - latin-ext_latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/josefin-sans-v20-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/josefin-sans-v20-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/josefin-sans-v20-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/josefin-sans-v20-latin-ext_latin-600.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  /* josefin-sans-700 - latin-ext_latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans-v20-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/josefin-sans-v20-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/josefin-sans-v20-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/josefin-sans-v20-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/josefin-sans-v20-latin-ext_latin-700.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  

@mixin fz($size_px) {
    font-size: ($size_px/$base_size)+rem;
}

@mixin btn {
    background-color: $blue_light;
    width: 225px;
    height: 60px;
    font-family: 'Aleo', serif;
    color: #fff;
    @include fz(16);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.2px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(45deg, $blue_dark 50%, transparent 50%);
    background-position: 55%;
    background-size: 400%;
    &:hover {
        background-position: 0;
        transition: all .5s ease;
    }
}

$base_size:16;
$blue_light: #5474fd;
$blue_dark: #496bfe;

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 1rem;
    min-width:350px;
}

img {
    vertical-align: top;
    width: 100%;
}

.container {
    width: 90%;
    max-width:1110px;
    margin: 0 auto;
}


/*mobile menu*/

#page_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
    backdrop-filter: blur(2px);
}

#mobile_menu_wrap {
    position: fixed;
    top: 0;
    left: -500px;
    background-color: rgba($blue_dark, 0.3);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    height: 100vh;
    width: 100%;
    max-width: 400px;
    transition: all .4s ease;
    z-index: 1000;

    &.top {
        max-width: 100%;
        height: auto;
        min-height: 200px;
    }
}

#sidemenu_top {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

   
}

.sidemenu {
    li {
        width: 100%;

        a {
            display: inline-block;
            padding: 15px;
            text-decoration: none;
            @include fz(20);
            font-weight: 400;
            font-family: 'Aleo', serif;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1.5px;
            width: 100%;
            color: #fff;
            position: relative;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            &:after {
                content: '';
                width: 0%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.5);
                opacity: .2;
                height: 100%;
                bottom: 0px;
                left: 0;
                transition: all .3s ease;
            }

            &:hover {
                text-decoration: none;
                &:after {
                    width: 100%;
                }
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.5);;
                opacity: .5;

            }
        }
    }
}

.open {
    #page_overlay {
        display: block;
    }

    #mobile_menu_wrap {
        left: 0;
    }
}




.top_part {
    background-color: #0461a2;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    //height: calc(100vh - 80px);
    height: 740px;
    display: flex;
    align-items: center;
    .container {
        .flex_top_part {
            display: flex;
            flex-direction: column;
            align-items: center;
            .content_top_part {
                width: 28%;
                margin-bottom: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1 {
                    text-transform: uppercase;
                    @include fz(50);
                    line-height: 30px;
                    letter-spacing: 2px;
                    text-align: center;
                    font-weight: 600;
                }
                img {

                }
                p {                    
                    font-weight: 200;
                    @include fz(23);
                    letter-spacing: 5px;
                    line-height: 60px;
                }
            }
            .search_top_part {
                .form_search {
                    background: #fff;
                    display: flex;
                    align-items: center;
                    margin-bottom: 110px;
                    .text_search {
                        border: none;
                        height: 60px;
                        width: 500px;
                        text-align: center;
                        font-weight: 300;
                        font-family: 'Josefin Sans', sans-serif;
                        @include fz(16);
                        letter-spacing: 2px;
                    }
                    .btn_search {
                        height: 56px;
                        width: 145px;
                        margin-right: 2px;
                        background: $blue_light;
                        border: none;
                        text-transform: uppercase;
                        color: #fff;
                        font-family: 'Aleo', serif;
                        letter-spacing: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        padding: 0 15px;
                        &:hover {
                            background: darken($blue_light, 5);
                        }
                        svg {
                            width: 25px;
                            height: 25px;
                        }
                    }

                }

            }
            .scroll_top_part {
                text-align: center;
                p {
                    font-weight: 200;
                    letter-spacing: 2px;
                    @include fz(16);
                    line-height: 30px;
                }
                .arrow {
                    border: solid #fff;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 4px;
                    transform: rotate(45deg);
                    
                }
                
            }
        }
    }
}

#menu {
    height: 80px;
    background: $blue_light;
    &.scrolled {
        position: fixed;
        transition: all .1s ease-out;
        width: 100%;
        z-index: 99;
        left: 0;
        top: 0;
        height: 80px;
        background-color: rgba($blue_dark, 0.8);
        box-shadow: 0 0 10px rgb(255, 255, 255);
        backdrop-filter: blur(20px);
    }
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #nav_menu {
            ul {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li {
                    
                    a {
                        display: inline-block;
                        position: relative;
                        text-decoration: none;
                        color: #fff;
                        margin: 15px; 
                        text-transform: uppercase;
                        font-family: 'Aleo', serif;
                        @include fz(16);
                        z-index: 1;
                        &:hover {
                            text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
                        }
                        
                    }
                }
            }
        }
        
    }
}

#hamburger_menu {
    display: none;
    a {
        display: inline-block;
        width: 40px;
        height: 40px;        
        svg {
            width: 40px;
            height: 40px;
        }
    }
}

.choose {
    background-color: #756762;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        content: '';
        background-color:rgba(41, 41, 41, 0.8);
        position: absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        z-index: 2;
    }
    .content_choose {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .container {
            padding-top: 12vh;
            display: flex;
            justify-content: space-between;
            margin-bottom: 170px;
            .left_choose {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                padding-top: 7vh;
                width: 50%;
                z-index: 3;
                h2 {
                    font-family: 'Aleo', serif;
                    font-weight: 400; 
                    @include fz(35);
                    line-height: 70px;               
                }
                p {
                    @include fz(18);
                    font-weight: 200;
                    line-height: 25px;
                    letter-spacing: 1px;                    
                }
                .btn_choose {
                    @include btn;
                    margin-top: 0px;
                }
            }
        }
        .right_choose {
            z-index: 3;
            
            .img_choose_1 {
                margin-bottom: 5px;
                margin-right: 135px;
                img {
                    
                }
            }
            .img_choose_2 {
               margin-left: 135px; 
            }
        }
    }
    
}



.actions {
    background: #333333;
    height: 340px;
    width: 100%;
    .container {
        .flex_actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .flex_arc {
                display: flex;
                justify-content: center;
                z-index: 3;
                .arc {
                    margin-right: 40px;
                    margin-left: 40px;  

                }
            }
            .content_actions {
                display: flex;
                justify-content: space-around;
                z-index: 3;
                .icon_actions {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .icon {
                        
                        svg {
                           width: 75px;
                           height: 75px;
                           
                        }
                    }
                    h2 {
                        font-family: 'Aleo', serif;

                        font-weight: 400;
                        @include fz(35);
                        line-height: 60px;
                    }
                }
            }
        } 
    }
}

.places {
    .places_top {
        padding: 23vh 0 11vh 0;
        background-color: #7f749c;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            display: flex;
            justify-content: start;
            .content_places_top {
                width: 49%;
                padding: 50px 30px;
                background-color: rgba(22, 22, 22, 0.9);
                h4 {
                    font-weight: 300;
                    @include fz(20);
                    line-height: 28px;
                }
                h3 {
                    text-transform: uppercase;
                    font-weight: 300;
                    @include fz(19);
                    line-height: 70px;
                }
                p {
                    font-weight: 200;
                    @include fz(16);
                    line-height: 24px;
                    margin-bottom: 40px;
                }
                .btn_places {
                    @include btn;
                    
                }
            }
        }
    }
    .places_bottom {
        padding: 23vh 0 11vh 0;
        background-color: #be5534;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            display: flex;
            justify-content: end;
            .content_places_bottom {
                width: 49%;
                padding: 50px 30px;
                background-color: rgba(22, 22, 22, 0.9);
                h4 {
                    font-weight: 300;
                    @include fz(20);
                    line-height: 28px;
                }
                h3 {
                    text-transform: uppercase;
                    font-weight: 300;
                    @include fz(19);
                    line-height: 70px;
                }
                p {
                    font-weight: 200;
                    @include fz(16);
                    line-height: 24px;
                    margin-bottom: 40px;
                }
                .btn_places {
                    @include btn;
                }
            }
        }
    }
}


.reviews {
    padding: 12vh 0 20vh 0;
    background-color: #756762;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        content: '';
        background-color:rgba(17, 17, 17, 0.8);
        position: absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        z-index: 2;
    }
    .container {
        .flex_reviews {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-family: 'Aleo', serif;
                font-weight: 400;
                @include fz(35);
                margin-bottom: 90px;
                z-index: 3;
            }
            .conten_reviews {
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 2;
                box-shadow: 0 0 20px rgba(32, 32, 32, 0.3);
                background-color: rgb(48, 48, 48);
                .img_reviews {
                    z-index: 3;
                    img {

                    }
                }
                .text_conten_reviews {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 60%;
                    padding: 10px 55px;
                    span {
                        display: block;
                        text-transform: uppercase;
                        @include fz(20);
                        font-weight: 300;
                        z-index: 3;
                    }
                    .quote {  
                        z-index: 3;
                        margin-top: 30px;                
                        p {
                            @include fz(16);
                            font-weight: 200;
                            line-height: 25px;
                            svg {
                                width: 20px;
                                height: 20px;
                                margin-bottom: 10px;
                            }

                        }
                    }
                }
            }
        }
    }
}

footer {
    background: #333333;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        background-color:rgba(17, 17, 17, 0.8);
        position: absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        z-index: 2;
    }
    .container {
        padding: 12vh 0 5vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .content_footer {
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
               width: 50%;
            }
            p {
                text-align: center;
                font-weight: 200;
                @include fz(16);
                letter-spacing: 0.5px;
                line-height: 45px;
            }
        }
        .icon_footer {
            ul {
                display: flex;
                justify-content: center;
                li {
                    display: inline-block;
                    list-style: none;
                    margin-left: 10px;
                    margin-right: 10px;
                    //width: 50px;
                    //height: 50px;
                    text-align: center;
                    padding-top: 10px;
                    z-index: 3;
                    a {
                        text-decoration: none;
                        
                        .icon {
                            color: #fff;
                            &:hover {
                                color: $blue_dark;
                            }
                        }
                    }
                    
                }
            }
           
        }
    }
}