@media screen and (max-width: 1220px) {
  .container .grid_box .red_car .img_red_car {
    height: 100%;
    object-fit: cover;
  }
  .container .grid_box .red_car .text_head {
    font-size: 14px;
    width: 90%;
  }
  .container .grid_box .red_car .text_head h1 {
    text-shadow: none;
  }
  .container .grid_box .white_block .text {
    width: 100%;
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .container .grid_box .red_car .img_red_car {
    height: 100%;
  }
  .container .grid_box .red_car .text_head h1 {
    text-shadow: none;
  }
  .container .grid_box .white_block .text {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .container .grid_box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .container .grid_box .red_car .img_red_car {
    height: 100%;
  }
  .container .grid_box .red_car .text_head {
    width: 70%;
    font-size: 16px;
  }
  .container .grid_box .red_car .text_head h1 {
    text-shadow: none;
  }
  .container .grid_box .white_block .text {
    width: 90%;
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .container .grid_box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .container .grid_box .red_car .img_red_car {
    height: 100%;
  }
  .container .grid_box .red_car .text_head {
    width: 80%;
    font-size: 14px;
  }
  .container .grid_box .red_car .text_head h1 {
    text-shadow: none;
  }
  .container .grid_box .white_block .text {
    width: 90%;
    padding: 10px 20px 120px 20px;
  }
  .container .grid_box .white_block .text p {
    font-size: 14px;
  }
  .container .grid_box .white_block .text h3 {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 600px) {
  .container .grid_box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .container .grid_box .red_car {
    grid-column-start: span 1;
  }
  .container .grid_box .red_car .img_red_car {
    height: 100%;
  }
  .container .grid_box .red_car .text_head {
    width: 80%;
    font-size: 14px;
    left: 20px;
    bottom: 15px;
  }
  .container .grid_box .red_car .text_head h1 {
    text-shadow: none;
    font-size: 20px;
  }
  .container .grid_box .white_block .text {
    width: 90%;
    padding: 10px 20px 120px 20px;
  }
  .container .grid_box .white_block .text p {
    font-size: 14px;
  }
  .container .grid_box .white_block .text h3 {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 500px) {
  .container .grid_box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .container .grid_box .red_car {
    grid-column-start: span 1;
  }
  .container .grid_box .red_car .img_red_car {
    height: 100%;
  }
  .container .grid_box .red_car .text_head {
    width: 90%;
    left: 20px;
    bottom: 15px;
  }
  .container .grid_box .red_car .text_head p {
    font-size: 12px;
    line-height: 25px;
  }
  .container .grid_box .red_car .text_head h1 {
    text-shadow: none;
    font-size: 18px;
  }
  .container .grid_box .white_block .text {
    width: 90%;
    padding: 10px 20px 120px 20px;
  }
  .container .grid_box .white_block .text p {
    font-size: 12px;
    line-height: 25px;
  }
  .container .grid_box .white_block .text h3 {
    font-size: 18px;
    line-height: 20px;
  }
}