*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.section_top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    padding: 80px 0;
    .pic::after {
        background-image: linear-gradient(to bottom, transparent 0%, transparent 80%, rgba(0, 0, 0, .5));
    }
    .pic:first-child {
        grid-area: span 2/ span 2;
    }
}

.section_bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .pic::after {
        background-color: rgba(0, 0, 0, .7);
        opacity: 1;
        transition: all .3s ease;
    }
    .pic:hover::after {
        opacity: 0;
    }
    img {
        transform: scale(1.01);
    }
    .pic {
        overflow: hidden;
    }
}

.pic {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
    }
}
