@media screen and (max-width:800px){
    #main_menu ul li+li {
        margin-left: 10px;
    }
    .wrapper {
        .pic_wrap, .text_wrap {
            flex-basis: calc(50% - 20px);
        }
    }
    .services_list {
        flex-direction: column;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
                width:48%;
            }
        }
    }
    .services_pic {
        margin-bottom: 0;
    }
}

@media screen and (max-width:666px){
    #main_menu {
        display: none;
    }
    #hamburger_menu {
        display: block;
    }
}

@media screen and (max-width:600px){
    .wrapper {
        .pic_wrap, .text_wrap {
            flex-basis: 100%;
        }
        .pic_wrap {
            margin-bottom: 30px;
            box-shadow: none;
        }
    }
    #about, #services {
        padding: 40px 0;
    }

    .chess_wrapper .chess_cell {
        width: 50%;
        &:nth-child(even){
            background-color: #fff;
        }
        &:nth-child(4n-2),
        &:nth-child(4n-1) {
            background-color: #a0a0a0;
        }
    }
}

@media screen and (max-width:540px){
    .services_list {
        align-items: center;
        li {
            display: block;
            width: 80%;
        }
    }
    .services_pic {
        margin-bottom: 20px;
    }
    .services_text p {
        text-align: center;
    }
    .services_list li>div {
        width: 100%;
    }
}

@media screen and (max-width:400px){
    .services_list li {
        width: 100%;
    }
    .chess_wrapper .chess_cell {
        width: 100%;
        &:nth-child(even){
            background-color: #a0a0a0;
        }
        &:nth-child(odd){
            background-color: #fff;
        }
    }
}