@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    color:#fff;
}
.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}


/*Services*/
.services {
    padding: 100px 0 150px;
    background-color: #70bfff;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        > div {
            width: 50%;
        }
    }
    &__left {
        padding-left: 100px;
        padding-top:79px;
    }
    //эмуляция списка
    .list_here {
        height: 461px;
        max-width:400px;
        border:2px dashed #fff;
        background-color: rgba(255,255,255,.4);
    }
    &__right {
        background: url('../images/tomato.png') right top/auto 97% no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__title {
        text-align: right;
        font-size:87px;
        font-weight: 900;
        //костыли для ПП
        letter-spacing: 1px;
        margin-top:-11px;
    }
}

//Остаётся только заадаптивить